<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@3.2">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.ManualCondition>
      <users>deepthimogaparthi1207@gmail.com</users>
      <parameterDefinitions>
        <hudson.plugins.promoted__builds.parameters.PromotedBuildParameterDefinition>
          <name>IsPromotionVisible</name>
          <description></description>
          <projectName>Nexus_job3</projectName>
          <promotionProcessName></promotionProcessName>
        </hudson.plugins.promoted__builds.parameters.PromotedBuildParameterDefinition>
      </parameterDefinitions>
    </hudson.plugins.promoted__builds.conditions.ManualCondition>
  </conditions>
  <icon>star-purple</icon>
  <isVisible>${IsPromotionVisible}</isVisible>
  <buildSteps/>
</hudson.plugins.promoted__builds.PromotionProcess>